html {
    height:100%
}


.main{
    display: flex;
    z-index: 600;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.main h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 1em;
}
.block{
    background: #fff;
    min-height: 500px;
    width: 100%;
    padding: 100px;
    padding-top: 30px;
    text-align: center;
}
a.icon-chevron-down{
    font-size: 50px;
}
.block:nth-child(even){
    background: #95a5a6;
}


body {
    color: #333;
    font:15px/23px 'Raleway',sans-serif;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
}
footer{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

footer *{
    font-size: 12px;
    color: #9099A3;
    font-weight: 600;
}


footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
    margin-bottom: 5px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
}
#menuSocial a{
    margin-right: 10px;
}
#menuServices a{
    margin-left: 20px;
}
footer ul li:hover{
    color: #f1c40f;
}
.up{
     color: #f1c40f;
}
a.up:hover{
     color: #f1c40f;

}
p{
    font-size:20px;
    line-height:140%;
    text-align:center
}


ul li {
    display:inline-block;
    list-style:none;
    padding-right: 10px;
}

.wrapper {
    z-index:600;
    position:relative
}

#colorize {
    color:#f1c40f;
    font-family:'Lato',sans-serif;
    font-size:40px;
    margin-bottom: 20px;
}


/* BIG VIDEO BACKGROUND
================================================== */
header{
    background: #283141;
}
.big-background {
    z-index:550;
    text-align:center;
    height:500px;
    position:relative;
    overflow:hidden;
}

.big-background .big-background-container {
    width:830px;
    max-width:100%;
    display:inline-block;
    position: fixed;
    top: 25%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}

.big-background-title {
    font-family:'Raleway',sans-serif;
    font-size: 90px;
    color:#fff;
    font-weight:300;
    text-align:center;
    margin-bottom:15px;
    padding-top:20px;
    display:inline-block;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position:top center
}
.mbYTP_wrapper{
    height: 500px;
    max-height: 500px;
}
.big-background-default-image{
    background: #333;
}
a.big-background-btn {
    font-family:'Lato',sans-serif;
    font-size:13px;
    text-transform:uppercase;
    text-decoration:none;
    color:#fff;
    background:transparent;
    border:2px solid #fff;
    padding:10px 14px;
    cursor:pointer;
    letter-spacing:2px;
    text-align:center;
    display:inline-block;
    -webkit-transition:.4s background ease;
    -moz-transition:.4s background ease;
    -o-transition:.4s background ease;
    transition:.4s all ease;
}
.big-background-btn:hover {
    color: #333;
    background: #fff;
}
hr{
    height: 2px;
    background: #f1c40f;
}
a.big-background-btn-dark {
    font-family:'Lato',sans-serif;
    font-size:13px;
    text-transform:uppercase;
    text-decoration:none;
    color:#f1c40f;
    background:transparent;
    border:2px solid #f1c40f;
    padding:10px 14px;
    cursor:pointer;
    letter-spacing:2px;
    text-align:center;
    display:inline-block;
    -webkit-transition:.4s background ease;
    -moz-transition:.4s background ease;
    -o-transition:.4s background ease;
    transition:.4s all ease;
}

.big-background-btn-dark:hover {
    color: #fff;
    background: #f1c40f;
}

@media screen and (max-width: 768px) {
.about-section-title {
    line-height:1
}
}

@media screen and (max-width: 480px) {
.big-background-title {
    font-size:58px
}

.small-background-title {
    line-height:1
}
@media screen and (max-width: 360px) {
.big-background-title,#colorize {
    line-height:1
}
}

@media screen and (max-width: 320px) {
.small-background-title {
    font-size:30px
}
}