extends layout

block content
	style.
		ol li{margin-left: 20px;margin-bottom:5px;list-style-type:decimal !important;}
	h2 Правила сайта
	br
	p Последнее редактирование 22 марта 2015.
	hr
	h3 Что такое Tavle
	br
	ol
		li Tavle - не магазин. Рекламировать товары, услуги, события, аккаунты и прочее, размещать в своих публикациях или комментариях ссылку на свой блог/сайт можно только в случаяе если публикация относится к картеогрии Стартапы. Также не разрешается размещать рекламу в профиле, в профиле вы можете указать свои контакты: будь то телефон, e-mail или аккаунт социальной сети.
		li Tavle - не развлекательный центр. Всевозможные прикольные ссылки без развёрнутого комментария тоже лучше оставить за бортом.
		li Tavle - не для политики. На сайте крайне не приветствуются дискуссии на политические темы в любом их проявлении. Хотите поговорить на тему политики? - Мэрия Вашего города к Вашим услугам.
		li Tavle - для грамотных людей. Не стоит коверкать русский язык. Ошибки и опечатки бывают у всех  старайтесь проверять текст перед отправкой. Постоянные орфографические ошибки, обильность смайликов и игнорирование правил пунктуации не приветствуются.
		li Tavle - для холиварщиков. Да. Но: всегда будет кто-то, кто, по вашему мнению, не прав. Однако просим оставить хамство, грубость, переходы на личности и прочие проявления агрессии и неадекватности. Пользуйтесь словарём синонимов - за мат или оскорбление нам придётся усмерить Вашу клавиатуру.
	br
	p Используя Tavle и публикуя идеи, вы соглашаетесь на предостовление третим лицам контента предоставленного Вами.
	p За нарушение любого из этих правил, пользователю в том или ином виде придётся понести наказание. В случае грубого нарушения правил мы можем без какого-либо уведомления удалить Вашу публикацию/ комментарий, а также усмерить Вашу клавиатуру путем бана.
	p Еще раз обращаем внимание на то, что аккаунты зарегистрированных пользователей, их публикации и комментарии администрацией сервиса не удаляются. Однако публикации и комментарии нарушающие правила сайта, могут быть скрыты без какого-либо уведомления.
	br
	h3 Если "Я категорически не согласен!"
	p В этом случае мы всегда рады выслушать Вас. Пишите на 
		a(href='mailto:support@tavle.ru' target='_blank') support@tavle.ru
